# Rust
/target
debug/
**/*.rs.bk
*.pdb
**/mutants.out*/

# Python
__pycache__/
*.py[cod]
*.so
*.pyd
.venv/
dist/
*.egg-info/
wheelhouse/

# maturin build output
geopyv_dev/_geopyv_dev*.so
geopyv_dev/_geopyv_dev*.pyd
